/* CUSTOM PROPS */

/* FONTS */
@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswald-Regular.woff2') format('woff2'),
      url('../fonts/Oswald-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswald-Medium.woff2') format('woff2'),
      url('../fonts/Oswald-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}



/* GLOBAL */

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing:inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #fff;
  color: #222;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

/* CONTAINER */

.container {
  width: 100%;
  max-width: 1280px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}


/* VISUALLY-HIDDEN */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}



/* AUTOFILL-STYLES */
/*
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--heading-color);
  -webkit-box-shadow: 0 0 0px 40rem #ffff inset;
} */

/* PLACEHOLDER STYLE */
/*
::placeholder {
  color: rgba(52, 49, 61, 0.5);
} */


/* LOGO */
.logo {
  display: inline-block;
}

.logo:hover {
  opacity: 0.9;
}
.logo:active {
  opacity: 0.7;
}

.logo__img {
  display: flex;
  width: 202px;
  height: 59px;
  object-fit: contain;
  margin-right: 50px;
}


/* NAV */

.nav__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__item:not(:last-child) {
  margin-right: 36px;
}

.nav__link {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  line-height: 30px;
  padding: 5px 0;
}

.nav__link:hover {
  border-bottom: 2px solid #fff;
}

.nav__link:active {
  opacity: 0.8;
}



/* HEADER */

.header {
  padding-top: 53px;
  padding-bottom: 51px;
  background-image: url(/img/index-background-desktop.jpg);
  background-repeat: no-repeat;
  background-position: top 0 right 0;
  background-size: auto;
}


.header__logo-nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/* HERO */
.header__hero {
  margin-top: 32px;
  padding-left: 80px;
  display: flex;
  align-items: center;
}

.header__hero-heading {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
}

.header__hero-title {
  margin: 0;
  margin-bottom: 52px;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 20px;
}

.header__hero-link {
  display: inline-block;
  text-transform: uppercase;
  padding: 14px 26px;
  text-decoration: none;
  color: #fff;
  background-color: #68B738;
  font-size: 20px;
}

.header__hero-link:hover {
  opacity: 0.9;
}

.header__hero-link:active {
  opacity: 0.7;
}

.header__hero-img {
  width: 552px;
  height: 499px;
}


/* MAIN-CONTENT */

.main-content {
  flex-grow: 1;
}


/* CHANGE */

.change {
  padding-top: 31px;
  padding-bottom: 36px;
}

.change__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.change__item {
  width: 570px;
  height: 374px;
  list-style: none;
  padding: 41px 51px 55px 51px;
  background-color: #f2f2f2;
}

.change__item:not(:last-child) {
  margin-right: 80px;
}

.change__item-top {
  display: flex;
  align-items: center;
  margin-bottom: 39px;
}

.change__item-top-img {
  display: inline-block;
  margin-right: 62px;
}

.change__item-top-title {
  margin: 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}



.change__item-bottom-info {
  font-family: "Arial";
  margin: 0;
  margin-bottom: 23px;
}

.change__item-bottom-link-wrapper {
  display: flex;
  align-items: center;
}

.change__info-bottom-link {
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  margin-right: 28px;
}

.change__info-bottom-link:hover   {
  border-bottom: 1px solid #000;
}

.change__info-bottom-link:active {
  opacity: 0.8;
}


/* WORK */
.work {
  padding-top: 35px;
  padding-bottom: 11px;
}

.work__title {
  font-size: 60px;
  line-height: 60px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 32px;
}

.work__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  counter-reset: work__item;
}

.work__item {
  position: relative;
  width: 230px;
  padding-top: 40px;
  padding-bottom: 57px;
  counter-increment: work__item;
}

.work__item::before {
  position: absolute;
  z-index: -10;
  top: 0;
  right: 0;
  content: counter(work__item);
  font-size: 280px;
  line-height: 280px;
  color: #F2F2F2;
}

.work__item:not(:last-child) {
  margin-right: 94px;
}

.work__img-wrapper {
  width: 80px;
  height: 80px;
  background-color: #68B738;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 31px;
}

.work__img {
  display: inline-block;
}

.work__info {
  font-family: "Arial";
  color: #444444;
  margin: 0;
}


/* EXAMPLE */

.example {
  padding-top: 58px;
}

.example__title {
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  margin: 0;
  margin-bottom: 76px;
  margin-left: 146px;
  color: #000;
  background-color: #fff;
}

.example__wrapper {
  background-color: #f2f2f2;
}

.example__bottom  {
  padding-top: 70px;
  padding-bottom: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.example__bottom-info-text {
  width: 100%;
  max-width: 438px;
  margin: 0;
  margin-bottom: 69px;
}

.example__bottom-info-status {
  display: flex;
  margin-bottom: 55px;
}

.example__bottom-status-weight {
  position: relative;
  width: 162px;
  padding-top: 15px;
  padding-bottom: 20px;
  padding-right: 57px;
  padding-left: 57px;
  text-align: center;
  border: 1px solid #CDCDCD;
  border-bottom: none;
}

.example__bottom-status-weight--active {
  padding-top: 15px;
  padding-bottom: 20px;
  padding-right: 30px;
  padding-left: 30px;
}

.example__bottom-status-weight:not(:last-child) {
  margin-right: 42px;
}

.example__bottom-weight-status {
  margin: 0;
  font-size: 30px;
  line-height: 37px;
  font-weight: 400;
}

.example__bottom-weight-status-info {
  position: absolute;
  text-align: center;
  bottom: -5px;
  left: 33px;
  margin: 0;
  font-size: 14px;
  line-height: 14px;
  font-family: "Arial";
  white-space: nowrap;
}

.example__bottom-weight-status-info--active {
  left: 17px;
}

.example__bottom-info-spend-text {
  text-transform: uppercase;
  display: inline-block;
  font-size: 20px;
  line-height: 20px;
  margin-right: 63px;
}



/* RETINA BACKGROUND IMAGES */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

}